.wrapper-new
  padding 32px 24px 64px
  background #faf8f8
  .input-area
    .input-list
      .input-item
        margin-bottom 30px
        .input-name
          color #3b3b41
          font-size 14px
        .input
          margin-top 4px
          border-bottom 1px solid #3b3b41
          color #3b3b41
    .text-list
        .input-name
          color #3b3b41
          font-size 14px
        .input
          margin-top 6px
          height 125px
          width 100%
          color #3b3b41
          line-height 20px
          border 1px solid #3b3b41
          border-radius 7px
    .picture-pick
      margin-top 24px
      .name
        color #3b3b41
        font-size 14px
      .pic
        margin-top 4px
        width 77px
        height 103px
        .pick
          border 1px solid #979797
          color #979797
          line-height 103px
          text-align center
          font-size 32px
          font-weight bold
        .poster
          width 100%
          height 100%
          .img
            width 100%
            height 100%
  .tab
    position fixed
    left 0
    right 0
    bottom 0
    z-index 100