.wrapper-mine
  height 100vh
  .ava-area
    position relative
    height 28%
    background #ECEBF0
    overflow hidden
    .ava-bg
      width 100%
      height 100%
      filter blur(16px)
      transform scale(1.1)
      transform-origin center center
    .ava-wrap
      position absolute
      top 24px
      left 50%
      transform translateX(-50%)
      .ava
        width 64px
        height 64px
        margin 0 auto
        border-radius 50%
      .username
        text-align center
        margin-top 9px
        color #ffffff
        font-size 14px
        letter-spacing 1px
  .bottom-wrap
    box-sizing border-box
    background #faf8f8
    border-radius 20px 20px 0 0 
    transform translateY(-20px)
    padding 42px 16px 0
    height 72%
    .content-wrap
      border-top 1px solid #c7c6d3
      .menu-list
        .menu-item
          display flex
          justify-content space-between
          align-items center
          padding 14px 6px
          border-bottom 1px solid #dcd4d5
          .menu-name
            font-size: 16px;
            letter-spacing: 1px;
            color: #3b3b41;
          .right-icon
            .iconfont
              color #ada8a9
              font-size 16px
  .tab
    position fixed
    bottom 0
